
<h1>Posts</h1>

<table class = "table">
  <thead>
    <tr>
      <th class = "center">Course</th>
      <th class = "center">TextBook</th>
      <th class = "center">Price</th>
      <th class = "center">Sold by </th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @listings.each do |listing| %>
      <tr>
        <td class = "center"><%= listing.course %></td>
        <td class = "center"><%= listing.book %></td>
        <td class = "center"><%= number_to_currency(listing.price) %></td>
        <td class = "center"><%= "#{listing.user.name}"%></td>
        <td><%= button_to 'View', listing, :method => "get", class: "btn btn-primary btn-xs" %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<%= button_to 'New Post', new_listing_path,:method => "get", class: "btn btn-primary" %>
