

<p>
  <strong>Course:</strong>
  <%= @listing.course %>
</p>

<p>
  <strong>TextBook:</strong>
  <%= @listing.book %>
</p>

<p>
  <strong>Price:</strong>
  <%= number_to_currency(@listing.price) %>
</p>

<p>
  Sold by <%= mail_to @listing.user.email, "#{@listing.user.name}" %>
</p>

<table>
  <tbody>
    <tr>
<% if current_user == @listing.user %>
<td><%= button_to 'Edit', edit_listing_path(@listing), :method => "get", class: "btn btn-primary btn-xs" %></td>
<% end %>
<td><%= button_to 'Back', listings_path, :method => "get", class: "btn btn-primary btn-xs" %></td>
</tr>
</tbody>
</table>
